{% extends 'CodeCrewMockApp/index.html' %}

{% block header %}
<h1>Resources</h1>
{% endblock header %}

{% block content %}
We serve as a resource for parents, educators, and other organizations looking to address the digital skills gap, and raising awareness about the importance of diversity in tech and the role of computer science education in lifting prosperity in Memphis.

​

CodeCrew is passionate about students and the community alike to have access to quality computer science and tech education.  As advocates raising awareness of the importance of computer science education, we whole heartedly support other initiatives in Memphis engaged in this work.

​

Below you will find a diverse number of resources across Memphis and beyond.

{% endblock content %}
